<!-- header-->
<app-user-header></app-user-header>
<div class="top20_margin">
  <div class="container hideonipad">
    <div class="row">
      <!-- left nave -->
      <app-left-nave></app-left-nave>
      <!-- <ng4-loading-spinner> </ng4-loading-spinner>  -->
      <div class="col m6 s12">
        <div class="row">
          <div class="dropdownmainbox col s12">
            <a class="dropdown-button adddropdown" href="javascript:void(0);" data-activates="dropdown3" data-beloworigin="true" data-constrainwidth="false">
              <span class="hide-on-small-only"> {{tgsTitle}}</span>
              <i class="fas fa-ellipsis-v hide-on-small-only right"></i>
            </a>
            <ul id="dropdown3" class="dropdown-content addcontent right">
              <li [ngClass]="{'active':tgsType == ''}">
                <a href="javascript:void(0);" (click)="changeTgsType('')">All TGS</a>
              </li>
              <li [ngClass]="{'active':tgsType == 'open'}">
                <a href="javascript:void(0);" (click)="changeTgsType('open')">Open TGS</a>
              </li>
              <li [ngClass]="{'active':tgsType == 'pending'}" *ngIf="((user.user_type == 1) && (url == '/tgs-hosted'))">
                <a ref="javascript:void(0);" (click)="changeTgsType('pending')" >Pending TGS</a>
              </li>
              <li [ngClass]="{'active':tgsType == 'past'}">
                <a href="javascript:void(0);" (click)="changeTgsType('past')">Past TGS</a>
              </li>
            </ul>
          </div>
          <div class="col s12 looptab">
            <div id="about" class="nano">
              <div class="content">
                <div class="post-wrapper" *ngFor="let tgs of tgsList; index as i;">
                  <div class="row post-padding">
                    <div class="col s2">
                      <img src="assets/img/tgs_event.png" alt="" class="circle responsive-img thumb65">
                    </div>
                    <div class="col s10">
                      <div>
                        <span class="user-title">{{tgs.title | capitalizeFirst}}</span><br>
                        <span>{{tgs.tgs_status | titlecase}}</span><br>
                      </div>
                    </div>

                    <br>
                    <br>
                    <div class="row post-padding">
                      <div class="col s12">
                        {{tgs.description}}
                      </div>
                    </div>
                    <br>
                    <br>

                    <div class="row post-padding">
                      <div class="col s2 subimg">
                        <img src="{{tgs.posted_by_image}}" (click)="publicProfile(tgs.creator_id)" alt="" class="circle responsive-img thumb65">
                      </div>
                      <div class="col s7">
                        <!-- check posted buy you or not -->
                        <div>
                          <span class="user-subtitle text-medium-gray">Posted By:</span>
                          <span class="user-title" [hidden]="tgs.creator_id != user_id">You</span>
                          <span class="user-title" [hidden]="tgs.creator_id == user_id">{{tgs.posted_by}}</span>
                        </div>
                        
                      </div>

                      <div class="col s3" style="position:relative">
                        <div>
                          <button class="viewbtn" (click)="tgsDetails(tgs.id)">View Detail</button>
                        </div>
                      </div>

                    </div>

                    <!-- Copy content -->
                    <div class="post-footer valign-wrapper footerthreeblock">

                      <div class="col s12">
                        <div class="inthree">
                          <div class="post-eventtime no-bottompadding">
                            <div class="tickek-price nicebalck calendarr left">
                              <div class="box">
                                <img src="assets/img/calendar_icon.png" alt="" class=" responsive-img">
                              </div>
                              <br>{{tgs.date}}
                              <span class="nicebalck"></span>
                            </div>
                            <div class="col s12 m7" >
                              <div class="box">
                                <img src="assets/img/location_icon.png" alt="" class="responsive-img map-icon">
                                <br> {{tgs.venue}}
                              </div>
                              <span class="nicebalck"></span>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                    
                  </div>
                </div>
                <div class="post-wrapper" *ngIf="tgsList.length == 0">
                  <p>No TGS Found</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- notifications -->
      <app-notifications></app-notifications>
    </div>
  </div>
</div>
<app-user-common></app-user-common>
