<div class="navbar-fixed">
  <nav class="yellownav">
    <div class="nav-wrapper">
      <a href="#" data-activates="mobile-demo" class="button-collapse collapse-hide">
        <i class="material-icons">menu</i>
      </a>
      <ul class="hide-on-small-and-down">
        <li>
          <a href="#" class="whitelogo">
            <img src="img/logowhite.png" alt="" class="circle">
          </a>
        </li>
        <li>
          <a routerLink="/home" [routerLinkActive]="['active']">Home</a>
        </li>
        <!-- <li><a routerLink="/about" [routerLinkActive]="['active']">About</a></li> -->
        <li>
          <a routerLink="/contact" [routerLinkActive]="['active']">Contact</a>
        </li>
      </ul>
      <a class='dropdown-button right userthumb' href='#' data-activates='dropdown1' data-beloworigin="true" data-constrainWidth="false">
        <img src="../img/logowhite.png" alt="" class="circle">
        <span class="hide-on-small-only"> Selena Gomez</span>
        <i class="fas fa-caret-down hide-on-small-only"></i>
      </a>
      <!-- Dropdown Structure -->
      <ul id='dropdown1' class='dropdown-content userinfo'>
        <li>
          <a href="#!">
            <i class="fas fa-bell"></i>Notifications</a>
        </li>
        <li>
          <a href="#!">
            <i class="fas fa-user"></i>Edit Profile</a>
        </li>
        <li>
          <a href="#!">
            <i class="fas fa-cog"></i>Settings</a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#!">
            <i class="fas fa-sign-out-alt"></i>Log Out</a>
        </li>
      </ul>

      <ul class="side-nav" id="mobile-demo">
        <li>
          <div class="col s12">
            <div class="center 10toppad">
              <img src="../img/thumb130.png" alt="" class="circle">
            </div>
            <div class="center profile-name">
              <h5>Selena Gomez
                <br>
                <span>No. 21 Florida</span>
              </h5>
            </div>
            <div class="follow-count">
              <div class="center"> 1633
                <br>
                <span>FOLLOWING</span>
              </div>
              <div class="center"> 2685
                <br>
                <span>FOLLOWERS</span>
              </div>

            </div>
            <div class="divider"></div>
            <div class="hosted-count">
              <div class="center"> Auctions Hosted
                <br>
                <span>2</span>
              </div>
              <div class="center"> Events Hosted
                <br>
                <span>2</span>
              </div>
            </div>
            <div class="center-align">
              <a href="#" class="btn btn-following">FOLLOWING</a>
            </div>
            <ul class="profile-menu">
              <li>
                <a href="#">
                  <span class="icon_event_host"></span>Open Meetings </a>
              </li>
              <li>
                <a href="#">
                  <span class="icon_post_event"></span>Live Bids </a>
              </li>
              <li>
                <a href="#">
                  <span class="icon_gpevent"></span>Past Meetings </a>
              </li>
              <li>
                <a href="#">
                  <span class="icon_mybid"></span>Past Bids</a>
              </li>

            </ul>
            <div class="profile-footer center">
              <a href="#">Home</a>
              <a href="#">About</a>
              <a href="#">Contact</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>
<div class="top20_margin">
  <div class="container hideonipad">
    <div class="row">
      <div class="col m3 profile-wrapper">

        <div class="center">
          <img src="../img/thumb130.png" alt="" class="circle">
        </div>
        <div class="center profile-name">
          <h5>Selena Gomez
            <br>
            <span>No. 21 Florida</span>
          </h5>
        </div>
        <div class="follow-count">
          <div class="center"> 1633
            <br>
            <span>FOLLOWING</span>
          </div>
          <div class="center"> 2685
            <br>
            <span>FOLLOWERS</span>
          </div>
        </div>
        <div class="divider"></div>
        <div class="hosted-count">
          <div class="center"> Auctions Hosted
            <br>
            <span>2</span>
          </div>
          <div class="center"> Events Hosted
            <br>
            <span>2</span>
          </div>
        </div>

        <div class="center-align">
          <a href="#" class="btn btn-following">FOLLOWING</a>
        </div>

        <ul class="profile-menu">
          <li>
            <a href="#">
              <span class="icon_event_host"></span>Open Meetings </a>
          </li>
          <li>
            <a href="#">
              <span class="icon_post_event"></span>Live Bids </a>
          </li>
          <li>
            <a href="#">
              <span class="icon_gpevent"></span>Past Meetings </a>
          </li>
          <li>
            <a href="#">
              <span class="icon_mybid"></span>Past Bids</a>
          </li>
        </ul>
      </div>
