<!-- header-->
<app-user-header></app-user-header>
<div class="top20_margin">
  <div class="container hideonipad">
    <div class="row">
      <!-- left nave -->
      <app-left-nave></app-left-nave>
      <!-- <ng4-loading-spinner> </ng4-loading-spinner>  -->
      <div class="col m6 s12">
        <div class="row">
          <div class="dropdownmainbox col s12">
            <a class="dropdown-button adddropdown" href="javascript:void(0);" data-activates="dropdown3" data-beloworigin="true" data-constrainwidth="false">
              <span class="hide-on-small-only"> {{eventTitle}}</span>
              <i class="fas fa-ellipsis-v hide-on-small-only right"></i>
            </a>
            <ul id="dropdown3" class="dropdown-content addcontent right">
              <li [ngClass]="{'active':eventType == 'all'}">
                <a href="javascript:void(0);" (click)="changeEventType('all')">Nationwide Gold Events</a>
              </li>
              <li [ngClass]="{'active':eventType == 'personal'}">
                <a href="javascript:void(0);" (click)="changeEventType('personal')">Personal Gold Events</a>
              </li>
              <li *ngIf="user.user_type !=2" [ngClass]="{'active':eventType == 'eventsHosted'}">
                <a href="javascript:void(0);" (click)="changeEventType('eventsHosted')">Gold Events Hosted</a>
              </li>
              <!-- <li [ngClass]="{'active':eventType == 'confirmed'}"><a ref="javascript:void(0);" (click)="changeEventType('confirmed')">Confirmed Events</a></li>
                     <li [ngClass]="{'active':eventType == 'past'}"><a href="javascript:void(0);" (click)="changeEventType('past')">Past Events</a></li> -->
            </ul>
          </div>
          <div class="col s12 looptab">
            <div id="about" class="nano">
              <div class="content">

                <div class="post-wrapper" *ngFor="let event of eventList; index as i;">
                  <div class="row post-padding">
                    <div class="col s2">
                      <img src="assets/img/thumb_event.png" alt="" class="circle responsive-img thumb65">
                      <!-- notice the "circle" class -->
                    </div>
                    <div class="col s10">
                      <div>
                        <span class="user-title">{{event.title | capitalizeFirst}}</span>
                        <br>

                        <!-- <span class="user-subtitle text-medium-gray">Meeting @ Frank’s Cafe</span><br> -->
                        <span>{{event.venue}}</span>
                        <br>
                        <!-- <span class="user-subtitle text-medium-gray">Meeting Proceeding to -<span class="nicebalck"> Scholarship</span></span> -->
                        <!-- <p class="user-description">{{event.description | capitalizeFirst}}</p> -->
                      </div>
                      <!-- <div class="post-eventtime no-bottompadding">
                                 <div>{{event.date}} <br> <b>{{event.time}}</b></div>
                                 <div class="tickek-price text-green" >{{event.ticket_price | currency}} <br> <span>Ticket Price</span></div>
                              </div> -->
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="row post-padding">
                      <div class="col s2 subimg">
                        <img class="like_hreff" src="{{event.posted_by_image}}" (click)="publicProfile(event.creator_id)" alt="" class="circle responsive-img thumb65">
                        <!-- notice the "circle" class -->
                      </div>
                      <div class="col s7">
                        <!-- check posted buy you or not -->
                        <div>
                          <span class="user-subtitle text-medium-gray">Posted By:</span>
                          <span class="user-title" [hidden]="event.creator_id==user_id">{{event.posted_by}}</span>
                          <span class="user-title" [hidden]="event.creator_id!=user_id">You</span>
                          <!-- <br>                            
                                    <p class="user-description"> <span class="text-medium-gray">Posted on:</span>{{event.post_date}}</p> -->
                        </div>
                        <!-- check posted buy you or not -->
                        <div *ngIf="event.event_status == 'open'  && event.raffle != 'N'" [ngClass]="{'dismissCls':event.event_status == 'dismissed'}">
                          Draw Date - {{event.draw_date}}
                        </div>
                      </div>

                      <div class="col s3" style="position:relative">
                        <div>
                          <button class="viewbtn" (click)="eventDetails(event.id)">View Detail</button>
                        </div>
                      </div>

                    </div>
                    <div class="post-footer valign-wrapper footerthreeblock">

                      <div class="col s12">
                        <div class="inthree">
                          <div class="post-eventtime no-bottompadding">
                            <!-- <div class="box"><img src="assets/img/calendar_icon.png" alt="" class=" responsive-img"></div>
                                     <div>{{event.date}} <br> <b>{{event.time}}</b></div>  -->

                            <div class="tickek-price nicebalck calendarr left">
                              <div class="box">
                                <img src="assets/img/calendar_icon.png" alt="" class=" responsive-img">
                              </div>
                              <br> {{event.date}}
                              <span class="nicebalck"></span>
                            </div>
                            <!-- <div class="col s12 m4" *ngIf="event.creator_id != user_id ">
                              <div class="tickek-price text-green left">{{event.ticket_price | currency}}
                                <br>
                                <span>Ticket Price</span>
                              </div>
                            </div> -->
                            <div class="col s12 m4" *ngIf="event.creator_id == user_id ">
                              <div class="tickek-price text-green left">${{event.total_revenue}}
                                <br>
                                <span>REVENUE EARNED</span>
                              </div>
                            </div>


                            <div *ngIf="event.event_status == 'past'">

                              <div class="col s12 m4  offset-m4 trophyrel">
                                <img class="like_hreff" src="{{event.winner_image}}" (click)="publicProfile(event.winner_id)" alt="" class="circle responsive-img thumb65 left">
                                <span class="trophypic trophypicz left">
                                  <img src="assets/img/trophy.png" alt="" class="responsive-img">
                                </span>
                              </div>

                              <div class="col s12 m4">
                                <div>
                                  <span class="user-subtitle text-medium-gray left"></span>
                                  <span class="user-title user-title-n left">{{event.winner_name}} </span>
                                  <br>
                                </div>
                              </div>
                            </div>
                            <div class="col s12 m4" *ngIf="(event.event_status == 'open') && (event.creator_id != user_id)">
                              <div>
                                <div class="col s12">
                                  <a class="waves-effect waves-light btn right btn-custom btn-dimgreen" *ngIf="
                                               event.creator_id != user_id " (click)="openModalForBuyTickets(event)">BUY TICKETS</a>
                                </div>
                              </div>

                            </div>

                            <div class="col s12 m4 " *ngIf="event.creator_id==user_id  && event.event_status != 'confirmed' && !event.winner_id">
                              <div>
                                <div class="col s12">
                                  <div class="tickek-price text-green left" *ngIf="event.creator_id == user_id ">
                                    {{event.ticket_sold}}
                                    <br>
                                    <span>TICKET(S) SOLD</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col s12 m4" *ngIf="event.event_status == 'confirmed' && event.raffle == 'Y'">
                              <div>

                                <div class="col s12 m4 offset-m4 trophyrel ">
                                  <img class="like_hreff" src="{{event.winner_image}}" (click)="publicProfile(event.winner_id)" alt="" class="circle responsive-img thumb65 left">
                                  <span class="trophypic trophypicz left">
                                    <img src="assets/img/trophy.png" alt="" class="responsive-img">
                                  </span>
                                </div>

                                <div class="col s12 m12">
                                  <div>
                                    <span class="user-title user-title-n left">{{event.winner_name}} </span>

                                  </div>
                                </div>
                              </div>

                            </div>


                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="post-wrapper" *ngIf="eventList.length == 0">
                  <p>No Events Found</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- notifications -->
      <app-notifications></app-notifications>
    </div>
  </div>
</div>
<app-user-common></app-user-common>
