.pd0{
padding: 0 !important;
}
.upload-wrapper .img_actual{
width: 100% !important;
padding: 0;
margin: 0 !important;
}
.upload-wrapper{
position: relative;
text-align: center;
min-height: 250px;
}
.upload-wrapper a{
position:  absolute;
top: 60%;
}
.isa_error{
    color: #D8000C;
    background-color: #FFD2D2;
}
.check-add{
    display: flex;
}
.check-add p{
    margin-right: 10px;
}
