<app-publicheader></app-publicheader>

<section class="homebanner">
  <div class="container fexhome">
    <div class="txt_banner center">
      <h1>GOLD PASS</h1>
      <p>The Ultimate Fan Experience</p>
      <!-- <p *ngIf="(user_details.user_type != '1') && (user_details.user_type != '2')">
        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by
        injected humour, or randomised words which don't look even slightly believable.
      </p>
      <p *ngIf="user_details.user_type == '1'">
        Our mission here at Gold Pass is to create the ultimate meet and greet experience. We have teamed up with prestigious venues
        across the nation to enable celebrities to monetize meet and greets, generate revenue, create branding and marketing
        opportunities, and ultimately creating the ultimate fan experience for your fans.
      </p>
      <p *ngIf="user_details.user_type == '2'">
        Our mission here at Gold Pass is to create the ultimate meet and greet experience. We have teamed up with prestigious venues
        across the nation to enable celebrities and fans to be able to meet and share memorable moments. Gold Pass is here
        to provide the opportunity of meeting your favorite celebrity at local venues and purchase personal celebrity collections
        online.
      </p> -->
    </div>

    <div *ngIf="!login" class="signinbox">
      <!-- <div  class="signinbox">   -->
      <div class="text-center">
        <div *ngIf="success_message" class="Success"> {{success_message}} </div>
        <div *ngIf="error_message" class="notErrors"> {{error_message}} </div>
      </div>
      <div class="row">
        <div class="col l6">
          <h3>Login</h3>
        </div>
        <div class="col l6 right-align">
          <h3>
            <span>New user ?</span>
            <a routerLink="/sign-up">Sign Up</a>
          </h3>
        </div>
      </div>
      <form [formGroup]="form">
        <div class="row">
          <div class="form-group" [ngClass]="displayFieldCss('user_name')">
            <div class="input-field input-login col l6 s12">
              <input placeholder="Username" id="login_username" type="text" class="validate" formControlName="user_name">
              <app-field-error-display [displayError]="isFieldValid('user_name')" errorMsg="* Please enter your user name">
              </app-field-error-display>
            </div>
          </div>
          <div class="form-group" [ngClass]="displayFieldCss('user_name')">
            <div class="input-field input-login col l6 s12">
              <input placeholder="Password" id="login_password" type="password" class="validate" formControlName="password">
              <app-field-error-display [displayError]="isFieldValid('password')" errorMsg="* Please enter your password">
              </app-field-error-display>
            </div>
          </div>


        </div>
        <div class="row row_default">
          <div class="col l6 s12">
            <button class="btn waves-effect waves-light btn-large btn-yellow col l12 s12" type="submit" name="action" (click)="onSubmit()">Login</button>
          </div>
          <div class="col l6 s12 valign-wrapper forgotpass">
            <a href="javascript:void(0);" (click)="openForgotNav()">Forgot your password?</a>
          </div>
        </div>
      </form>
    </div>

  </div>
</section>
<div class="full-video nopadding" id="videosection">
    <a href="javascript:void(0)" class="button-play valign-wrapper center-align video_mouse_out" id="play_button">
       <i class="material-icons" *ngIf="videoControlerPlayStatus" (click)="videoPlayPause()">play_arrow</i>
       <i class="material-icons" *ngIf="!videoControlerPlayStatus" (click)="videoPlayPause()">pause</i> 
    </a>
    <video #videoControler (click)="videoPlayPause()" autoplay class="full-screen-video">
       <source src="{{videoUrl}}">
    </video>
  </div>
<section class="">
      

    <!-- <video width="100%" controls>
        <source src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" type="video/mp4">
        <source src="mov_bbb.ogg" type="video/ogg">
        Your browser does not support HTML5 video.
    </video> -->
  <div class="container">
    
    <!-- <div class="row">
      <div class="col l4 m4 s12 center-align feature_col">
        <i>
          <img src="assets/img/icon_meeting.png" alt="">
        </i>
        <div>
          <h3>Gold Pass Events</h3>
          Gold pass event tickets are purchased through a secured payment method, an email will be sent with tickets, receipt, and
          event location/time details. Tickets and ID will be needed the day of event and will be verified before entry.
          Gold pass app and website will promptly schedule your event on you profile; there will be reminders of event and
          what you will need.
        </div>
      </div>
      <div class="col l4 m4 s12 center-align feature_col">
        <i>
          <img src="assets/img/icon_bids.png" alt="">
        </i>
        <div>
          <h3>Event Day</h3>
          On the Gold Pass event day, upon your arrival to the stadium/venue; you will be greeted by Gold Pass staff members who will
          escort you through the venue. Your tickets and ID will be verified through a kiosk and your personal celebrity
          experience begins.” The celebrities will disclose how long each meet and greet will be; after your shared experience
          and pictures Gold pass staff members will escort you through the venue.
        </div>
      </div>
      <div class="col l4 m4 s12 center-align feature_col">
        <i>
          <img src="assets/img/icon_event.png" alt="">
        </i>
        <div>
          <h3>Gold TGS</h3>
          Gold Pass Retail is not your typical celebrity signed items, these are personal collections that celebrates have built over
          their careers. Listed items will either be auctioned off or sold instantly; everything sold in Gold Pass Retail
          is sold by celebrities themselves.
        </div>
      </div>
    </div> -->
  </div>
</section>
<section class="section_pd120 primarybg">
  <div class="container">
    <div class="row">
      <div class="col l6 m6 s9">
        <h3 class="section-head">Popular Gold Pass Meetings</h3>
      </div>
      <!-- <div class="col l6 m6 s3 right-align viewall-black"><a href="#">View All</a></div> -->
    </div>
    <div class="row">
      <div class="col s12 m6" *ngFor="let meetings of popular_meetings">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s3 ">
              <img src="{{meetings.posted_by_image}}" alt="" class="circle responsive-img">
            </div>
            <div class="col s9 pop-meeting">
              <h3>{{meetings.title | words : 4 :""}}
                <br>
                <span class="grey-text darken-1">@ {{meetings.venue | words : 4 :""}}</span>
              </h3>
              <p>
                <span class="black-text ">{{meetings.posted_by}}</span>
              </p>
              <p>
                <span class="grey-text darken-1"> Meeting Proceeding to </span>- {{meetings.proceeding_category}}</p>
              <p class="black-text">{{meetings.date}} @ {{meetings.time}}</p>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</section>
<section class="section_pd120">
  <div class="container">
    <div class="row">
      <div class="col l6 m6 s9">
        <h3 class="section-head">Popular Gold TGS</h3>
      </div>
      <!-- <div class="col l6 m6 s3 right-align viewall-black"><a href="#">View All</a></div> -->
    </div>
    <div class="row no-margin">

      <div class="col s12 m6 l4" *ngFor="let tgs of popular_tgs">
        <div class="card popular-bid-col white-text">
          <div class="card-image">
            <img src="{{tgs.star_image}}">
            <!-- <div class="card-title black-grdnt">
              <span class="hide-on-small-only">{{tgs.created_at}}</span>
              <a class="waves-effect waves-light btn right">Join Auction</a>
            </div> -->
          </div>
          <div class="card-content">
            <div class="row">
              <div class="col s2">
                <img src="assets/img/tgs_event.png" alt="" class="responsive-img">
                <!-- notice the "circle" class -->
              </div>
              <div class="col s10">
                <div class="text-bold">{{tgs.title}}
                  <br>
                  <span class="text-norm">TGS Date: {{tgs.date}}</span>
                </div>
              </div>
            </div>

            <div class="row no-margin">
              <div class="col s2">
                <img src="{{tgs.star_image}}" alt="" class="circle responsive-img">
                <!-- notice the "circle" class -->
              </div>
              <div class="col s10">
                <span class="text-bold text-med">{{tgs.star_name}}</span>
                <br>
                <span class="text-gray">Posted on: {{tgs.created_at}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>
<!-- Corporate Section Hided -->
<!-- <section class="section_pd120">
<div class="container">
<div class="row">
<div class="row">
<div class="col l6 m6 s8"><h3 class="section-head">Corporate Events</h3></div>
<div class="col l6 m6 s4 right-align viewall-black"><a href="#">View All</a></div>
</div>
<div class="row">
<div class="col m7 s12">
  <div class="col s12 div-default event-tile tile01">
    <img src="assets/img/event01.png" alt="" class="responsive-img">
    <div class="event-footer">Music Party @ New Jersey <br> <span>Date: 22-11-2017</span></div>
  </div>
</div>
<div class="col m5 s12">
<div class="col s12 div-default event-tile tile02"><img src="assets/img/event_370.png" alt="" class="responsive-img">
  <div class="event-footer">Music Party @ New Jersey <br> <span>Date: 22-11-2017</span></div>
</div>
<div class="col s12 div-default event-tile tile02 event-endchild"><img src="assets/img/event_370.png" alt="" class="responsive-img">
  <div class="event-footer">Music Party @ New Jersey <br> <span>Date: 22-11-2017</span></div>
</div>
</div>
</div>

</div>
</div>
</section> -->
<!-- End Corporate section -->
<section>
  <div class="container">
    <div class="row">
      <div class="col l12 m12 s12">
        <h3 class="section-head">Gold Ovations</h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="testimonibg">
      <div class="container">
        <div class="automatic-slider">
          <ul>

            <li *ngFor="let testimonials of popular_testimonials">
              <div class="row row-flex">
                <div class="col l4 m4 s12">
                  <div class="thumb_holder">
                    <img src="{{testimonials.posted_user_image}}" alt="" class="responsive-img thump-testimoni">
                  </div>
                </div>
                <div class="col l8 m8 s12 text-testimoni">
                  <h2>{{testimonials.posted_user_name}}
                    <br>
                    <span>Posted an Ovation</span>
                  </h2>
                  <p>{{testimonials.review}}</p>
                </div>
                <div class="clear-fix"></div>
              </div>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<app-publicfooter></app-publicfooter>
